h1 {
    height: 100%;
    display: flex;
    padding-top: 2%;
    margin-inline-start: 10rem;    
    text-decoration: none;
}

.FoodJP {
    height: 20px;
    width: 100px; 
    padding-left: 260px;     
    
}

ul {    
    display: flex;
    width: 60%;
    list-style: none;
    justify-content:left;
    padding-left: 14%;
}

.butao {
    background-color: white;
    border-radius: 10px;
    padding-left: 4%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin-inline-start: 2rem;
}

header {    
    height: 60px;
    width: 100%
}

nav {
    height: 100%;
    width: 100%;      
    display: flex;
    justify-content: end;
    
}

.japonesa {
    width: 150%;
    padding-top: 2%;
    margin-inline-start: 6rem;
}

.paragrafo {
    width: 25%;
    padding-top: 2%;
    margin-inline-start: 16rem;
}

.cardapio {
    width: 120px;
    color: rgb(255, 255, 255);  
    background-color: red; 
    margin-inline-start: 16rem;   
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 200; 
    
}

.prato {
    width: 320px;    
    height: 300px;
    position: absolute;
    top: 400px;
    padding-left: 250px;
   
}

.sushi {    
    width: 200px;
    height: 220px;
    position: absolute;
    top: 150px;
    right: 20%;     
        
}

.tradicional {
    width: 150%;
    padding-top: 2%;    
    margin-inline: 30rem;
}

.Lorem {
    width: 25%;
    padding-top: 2%;
    padding-left: 52%;
}

.Ler {
    width: 140%;
    color: red;
    padding-left: 52%;
}

.populares {
    width: 150%;
    padding-right: 40%;
    margin-inline: 25rem;
}

.grupo10{
    width: 250px;
    height: 400px;
    padding-right: 2%;
    padding-left: 20%;
}

.grupo8 {
    width: 250px;
    height: 400px;
    padding-right: 2%;
}

.grupo9 {
    width: 250px;
    height: 400px;
}

.comenta1 {
    padding-left: 90px;
}

.commit {
    width: 390px;
    height: 220px;
    padding-left: 20%;
    padding-right: 1%;
}   

.commit1 {
    width: 390px;
    height: 220px;
}
    

.local1 {
    padding-left: 90px;
}

.local {
    width: 800px;
    height: 350px;
    padding-right: 10%;
    border-radius: 16px 0px 0px 0px;   
    padding-left: 20%;

}

.busca {
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 10%;
    padding-right: 2%;
    margin-inline-start: 0%;  
     
}

.busca1 {
    padding-left: 48%;
    padding-top: 1%;
}

.FoodJP1 {
    height: 20px;
    width: 100px; 
    padding-left: 230px;
    padding-top: 8%;
}

